#password-container, #loading-screen, #main-content {
  display: none; /* Hide all by default */
}

#password-container {
  display: block; /* Show password container initially */
}

#loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
