body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #00ff00;
}

/* Password Screen */
#password-screen {
    text-align: center;
    background-color: #111;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 255, 0, 0.3);
}

#password-input,
#captcha-answer {
    padding: 12px;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    border: 1px solid #00ff00;
    border-radius: 4px;
    background-color: #000;
    color: #00ff00;
    margin-bottom: 20px;
}

#submit-button {
    padding: 12px 20px;
    font-size: 16px;
    color: #000;
    background-color: #00ff00;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit-button:hover {
    background-color: #00cc00;
}

#error-message {
    color: red;
    margin-top: 10px;
    display: none;
}

/* Loading Screen */
#loading-screen {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#loading-screen.show {
    opacity: 1;
}

.spinner {
    border: 6px solid #111;
    border-top: 6px solid #00ff00;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* Main Page */
#main-page {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in;
}

/* Tabs */
.tabs {
    display: flex;
    justify-content: center; /* Centering the tabs */
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #111;
    border-bottom: 2px solid #00ff00;
}

.tab-button {
    padding: 14px 20px;
    font-size: 16px;
    color: #00ff00;
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.tab-button.active,
.tab-button:hover {
    background-color: #00ff00;
    color: #000;
}

.tab-content {
    display: none;
    padding: 20px;
    margin-top: 60px;
}

.tab-content.active {
    display: block;
}


/* Additional styles for links in Events */
#events a {
    color: #00ff00;
    text-decoration: none;
    font-size: 18px;
}

#events a:hover {
    text-decoration: underline;
}

